.navMiddle {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 1.7em;
    font-size: 1.3em;
    position: relative;
    cursor: pointer;
}

.nav-ele {
    text-decoration: none;
    font-weight: 600;
    color: #1a1a1a;
}


/* #navbar li a.active, */
#navbar li a:hover {
    color: #088178;
}

/* #navbar li a.active::after, */
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 0.125em;
    background: #088178;
    position: absolute;
    bottom: -0.025em;
    left: 1.25em;
}

#navbar .navRightContainer {
    display: none;
}

@media screen and (max-width: 1000px) {

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 1em;
        right: 0;
        height: 97vh;
        width: 50vw;
        background-color: #E3E6F3;
        box-shadow: 0 2.5em 3.75em rgba(0, 0, 0, 0.1);
        padding: 5em 0 0 0.625em;
        border-radius: 0.5em;
    }

    .hide {
        visibility: hidden;
    }

    #mobileRight {
        display: flex;
        flex-direction: column;
    }

    .menubar {
        position: relative;
        top: 0;
        left: 0;
        border: 2px solid red;
    }

    #navbar li {
        margin-bottom: 1.5625em;
    }

    #navbar .navRightContainer {
        display: flex;
    }
}

@media screen and (max-width: 600px) {
    #navbar {
        width: 67vw;
    }
}