.newProduct {
    min-height: 30vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 1em;
    margin-bottom: 2em;
    background-color: hsl(234, 42%, 95%);
}

.newProductTitle {
    text-align: center;
    font-size: 2.35em;
    font-weight: 500;
    padding-top: 1em;
}

.form-group {
    padding-bottom: 2em;
}

.button-container {
    display: flex;
    justify-content: center;
    padding: 0;
}

.btn {
    width: 30%;
    align-self: center;
    background-color: #088178;
}

.btn:hover {
    color: #088178;
    border: 1px solid #088178;
    background-color: white;
}

.productCreated {
    color: green;
}

small {
    position: absolute;
    left: 29.3vw;
}