
.description {
    text-align: start;
    padding: 0.625em 0;
}

.description .rating {
    font-size: 0.9em;
    display: flex;
    padding: 0.625em 0;
    justify-content: space-between;
}

.description .icon {
    height: 0.75em;
    margin-right: 0.313em;
}

.description h5 {
    padding-top: 0.438em;
    font-size: 1em;
    color: #1a1a1a;
}