.product {
    width: 24%;
    min-width: 20em;
    min-height: 20em;
    margin: 0.938em 0;
    padding: 0.625em 0.75em;
    border: 1px solid #cce7d0;
    background-color: white;
    border-radius: 1.563em;
    position: relative;
    box-shadow: 1.25em 1.25em 1.875em rgba(0, 0, 0, 0.02);
    cursor: pointer;
    transition: 0.2s ease;
}

.product:hover {
    box-shadow: 1.25em 1.25em 1.875em rgba(0, 0, 0, 0.1);
}

.options {
    font-size: 1.5em;
    font-weight: 700;
    color: #000;
    position: absolute;
    top: 0.3em;
    right: 0.5em;
}

.options:hover {
    transform: scale(1.3);
    color: #088178;
}

.productImage {
    margin-top: 0.5em;
    width: 50%;
    height: 50%;
    object-fit: contain;
}

.productImage:hover {
    transform: scale(1.05);
}

.product .priceContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product .priceContainer h4 {
    font-size: 1.2em;
    font-weight: 700;
    color: #088178;
    text-align: center;
    margin: 0;
}

.product .cart {
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 3.125em;
    font-weight: 500;
    background-color: #e8f6ea;
    color: #088178;
    border: 1px solid #cce7d0;
}

.product .cart:hover {
    background-color: #088178;
    color: white;
    border: 1px solid #cce7d0;
}

.popup-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 2em;
    right: 1.5em;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    font-size: 1.1em;
    border-radius: 0.3em;
    width: 10em;
}

.popup-menu span {
    margin: 0 0.4em;
    padding: 1em 1em;
    text-align: left;
}

.popup-menu span:hover {
    background-color: #e8f6ea;
}

#edit-product {
    border-bottom: 1px solid black;
}

@media screen and (max-width: 1440px) {
    .product {
        min-height: 25em;
    }
}

@media screen and (max-width: 550px) {
    .product {
        width: 60vw;
        min-height: 20em;
    }
}