#mobile {
    display: none;
    align-items: center;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    #mobile {
        display: flex;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 1.5em;
        padding-left: 1.25em;
    }
}